* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}


.container {
    position: relative;
    width: 400px;
    max-width: 100%;
    background-color: rgb(255 255 255 / 47%); 
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 50px;
}

/* .form-container {
    display: none;
} */

h2 {
    text-align: center;
    color: rgb(70, 32, 32);
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: rgb(70, 32, 32);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(104, 45, 45);;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #007bff;
}


.login-container.active {
    display: block;
}

.signup-container.active {
    display: block;
}